<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/Users/anjani/Desktop/BlogApp/views/index.css">
</head>
<body>

<div class="ui secondary  menu">
  <a href="/" class="active item"><i class="icon"><i class="Home"></i></i>
    Home
  </a>
  <a href="/blogs/new" class="item">
    New Post
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
	

